.nav-page-container{
    
}
.nav-page-title-div{

}
.nav-page-title-text {

}
.title-text{

}
.sel-tab{
    background-color: #0072BB;
    color: aliceblue;
    font-size: large;
}
.dis-tab{

}
.sel-panel {
    color: aliceblue;
}
.tabs-panel-container {
    color: #1a1a1d;
    font-weight: 400;
    font-size: large;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
    
}
.nav-btn {
    border-radius: 4px;
    background: linear-gradient(to right,#0072BB, #FF4C3B) !important;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 13px;
    width: 400px;
    transition: all 1.4s;
    cursor: pointer;
    
  }
.nav-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.nav-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.nav-btn:hover span {
  padding-right: 25px;
}
.nav-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.load-btn {
  color: aliceblue !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #e62100;
  padding: 13px;
  font-weight: 100;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  font-size: x-large;
  border: none;
  transition: all 0.4s ease 0s;
  }
.load-btn:hover {
  background:#0072BB;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  font-weight: 450;
}
.panel-title-text{
  font-size: 53px;
  color: #0051b3;
  font-family: 'Rubik', sans-serif;
}

.panel-title {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px; 
}

.column-input-text{

}

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.input-1 {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px; 
  text-align: left;
  font-size: xx-large;
  font-family: 'Rubik', sans-serif;
}
.panel-title-container {
  display: inline-block;
}
.input-text-area{
  padding-top: 18px;
}
.panel-content {
  
}
.btn-div{
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}
.nav-btn-div {
  
}