@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.go-back-btn {
    color: aliceblue !important;
    /* text-transform: uppercase; */
    text-decoration: none;
    background: #e62100;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 12px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    font-size: 23px;
    font-family: 'Roboto Slab', serif;
    border: none;
    cursor: pointer;
    flex: 1;
    transition: all 0.4s ease 0s;
    }
.go-back-btn:hover {
    background: #0072BB;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.warning-title-container{
   padding-top: 30px;
   padding-bottom: 30px;
}
.warning-content {
    padding-top: 100px;
    height: 400px;
    display: block;    
    padding-bottom: 40px;
    text-align: center;
}
.warning-text-white {
    color: aliceblue;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Roboto', serif;
}
.warning-text-red{
    color: #FF4C3B;
    font-weight: 800;
    font-family: 'Roboto', serif;
    font-size: 50px;

}
.nav-button-div{
}

.continue-btn {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(to right, #0072BB, #FF4C3B) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding-left: 1px;
    padding-top: 4px;
    padding-right: 1px;
    padding-bottom: 6px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
  }
  .continue-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .continue-btn span:after {
    content: '\00bb';
    position: relative;
    font-size: larger;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
  }
  .continue-btn:hover span {
    padding-right: 20px;
    padding-left:8px
  }
  .continue-btn:hover span:after {
    opacity: 1;
    right: 0;
  }