.get-started {
    padding: 0rem 0rem 2rem 0rem;
    button {
      cursor: pointer;
      color: rgb(163, 80, 2);
      border: thin white;
      span {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 3rem;
        font-weight: 700;
      }
      &:hover {
        background: linear-gradient(to right, #f27121, #e94057, #8a2387);
        color: aliceblue;
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: orangered;
        text-shadow: 10px 10px 5px rgb(223, 113, 10);
        transition: ease 0.5s;
        span {
          border: 3px white;
        }
      }
    }
    .get-started-btn {
      border-top: 2px solid rgb(247, 102, 6);
      border-bottom: 2px solid rgb(247, 102, 6);
      padding: 1rem;
    }
    .get-started-btn:hover {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
}