.navbar-container{
  width: 100%;
}
.navbar {
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  padding-left: 3rem;
}
.navbar-light .navbar-brand {
  font-size: 1.75em;
}

.navbar-light .navbar-nav {
  letter-spacing: 1px;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
.navbar-light .navbar-nav :active,
.navbar-light .navbar-nav :hover {
  color: rgb(255, 248, 248);
  font-weight: 500;
  transition: all ease-in-out 0.3s;
}
