.home-page-container {
    color: aliceblue;
}
.home-page-title-div {

}
.home-page-title {
    padding-top: 73px;
    padding-bottom: 1px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.title-text {
    color: #1a1a1d;
    font-family: 'Montserrat', sans-serif;
    font-size: 73px;
    font-weight: 900;
}

.warning-text-div{
    font-size: 25px;
    text-align: center;
    display: inline-block;
    width: 1200px;
    height: auto;
    padding-top: 100px;
}

.warning-text-low {
    color: #4e4e50;
    font-weight: 450;    
    font-size: 40px;
}
.warning-text-high {
    /* color: #C3073F; */
    color: #0072BB;
    font-weight: 600;
    font-size: 40px;
    text-decoration: underline;
    
}
.checkbox-div{
    padding-top:60px;
    padding-bottom: 20px;
}
.checkbox-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

#_checkbox
{
    display: none;
}
.input-title {
    clear: both;
    font-size: 25px;
    color: #1a1a1d;
    font-weight: 300;
}

/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #1a1a1d;
}


.checkbox-label input:checked ~ .checkbox-custom {
    /* background-color: #FFFFFF; */
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #1a1a1d;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #FF4C3B;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #FF4C3B	;
  border-width: 0 4px 4px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.continue-button-div{
    padding-top: 30px;
}
.example_f:enabled {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(to right, #0072BB, #FF4C3B	) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
  }
  .example_f span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f:hover:enabled span {
    padding-right: 25px;
  }
  .example_f:hover:enabled span:after {
    opacity: 1;
    right: 0;
  }
.example_f:disabled{
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(to right, #1a1a1d, #C6C8CA		) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
}