.slider-container{
    padding-left: 200px;
    padding-right: 200px;
    /* display: block; */
}

.tutorial-container {

}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
.tutorial-page-title-div{

}
.tutorial-page-title-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.title.text {

}
.example_f_tutorial {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(to right, #4E4E50, #C3073F) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 8px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    align-content: center;
  }
  .example_f_tutorial span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .example_f_tutorial span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f_tutorial:hover span {
    padding-right: 25px;
  }
  .example_f_tutorial:hover span:after {
    opacity: 1;
    right: 0;
  }
.image {
  box-shadow: ;
}