@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-home-container {
}

.main-home-header {
  padding: 15px;
}

.header-text {
  color: #1a1a1d;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-weight: 900;
}
@media screen and (min-width:601px) {
  .header-text {
    font-size: 67px;
  }
}
@media screen and (max-width:600px) {
  .header-text {
    font-size: 37px;
  }
}

