@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main-home-container {
  margin: 0;
  font-size: 17px;
  color: aliceblue;
  line-height: 1.6;
  background: url("../../../assets/bg-left.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  min-width: -webkit-fill-available;
}

.main-home-header {
  padding: 15px;
  text-align: left;
}

.header-text {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 900;
}
@media screen and (min-width: 601px) {
  .header-text {
    font-size: 75px;
  }
}
@media screen and (max-width: 600px) {
  .header-text {
    font-size: 37px;
  }
}

.intro-text {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: xx-large;
}
