.card {
  display: grid;
  margin: 4vh;
  grid-template-columns: 40vh;
  grid-template-rows: 10vh 35.5vh 13vh;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: Roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  // margin: 30px;
  .card-image-1 {
    grid-area: image;
    background: #dce35b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #45a5b6,
      orange
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #45a5b6,
      orange
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  div {
    padding: 1vh;
    h1 {
      span {
        font-family: "Open Sans", sans-serif;
        font-size: 3rem;
        text-align: center;
      }
      .title-text {
        // border-top: 3px solid rgb(250, 246, 3);
        border-bottom: 3px solid rgb(229, 255, 0);
      }
    }
  }

  .card-text {
    grid-area: text;
    margin: 25px;
    .subtitle {
      color: rgb(255, 7, 110);
      font-size: 13px;
    }

    h2 {
      font-size: 28px;
      font-family: "Open Sans", sans-serif;
      font-weight: 900;
    }
    .table-data {
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      .metadata-table {
        tr {
          .col-1 {
            text-align: start;
            width: 13rem;
          }
          .col-2 {
            width: 20rem;
            text-align: end;
            padding-bottom: 10px;
          }
        }
        .table-head-row {
          color: rgb(255, 7, 110);
          .table-head {
            text-align: left;
            width: 100%;
            border-bottom: 2px solid;
          }
        }
      }
    }
  }
  .card-stats {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(41, 40, 40);
    .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: aliceblue;
      font-weight: 700;

      padding-bottom: 10px;
    }
    h2 {
      margin-top: 0px;
      font-size: 28px;
    }
  }
  &:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(27, 27, 27, 0.6);
  }
}
