body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A1D;
  /* background-color: aliceblue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'styles/homepage.css';
@import 'styles/controlpage.css';
@import 'styles/dfloadingpage.css';
@import 'styles/pageoptions.css';
@import 'styles/reportpage.css';
@import 'styles/searchingpage.css';
@import 'styles/tutorialpage.css';
@import 'styles/warningpage.css';